@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

body{
    font-family: 'Open Sans', sans-serif;
}

body::-webkit-scrollbar {
    width: 8px;
}
body::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
    
}
body::-webkit-scrollbar-thumb {
    background-color: #d81e3f;
    -moz-background-color: #d81e3f;
    -o-background-color: #d81e3f;
    -webkit-background-color: #d81e3f;
}
body::-webkit-scrollbar-thumb:hover {
    background-color: #d81e3f;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Comfortaa', cursive;
}

.logo {
    height: 170px;
    margin-top: 10%;
    margin-bottom: 10px;
}
.logo-nav {
    height: 60px;
}
.logo-footer{
    height: 100px;
}
.background-login {
    position: fixed;
    height: 100%;
    background-color: #d9d9d9;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.background-login .text{
    position: absolute;color:white;top:40%;left:40%;
}
.btn-login{
    color: #ffffff;
    background-color: #52bad5;
    font-size: 15px;
    width: 100%;
    margin-top: 20px;
    height: 50px;
    line-height: 30px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.btn-login:hover{
    color:#ffffff;
}

.login-footer{
    margin-top: 40px;
}

.form-login .input-lg{
    border-radius: 0;
    border: 2px solid #d0d0d0 !important;
}

/* BOOSTRAP STYLES */
.carousel-inner>.item>img{
    width: 100%;
}
.carousel-custom{
    margin-top: 100px;
}

.hero{
    min-height: 450px;
}
.hero-security{
    min-height: 850px;
}
.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    padding: 2rem;
    color: #fff;
    text-align: center;
    /*text-shadow: 4px 0 6px rgba(0,0,0,.6);*/
}

.hero-section-no-flex {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    padding: 2rem;
    color: #fff;
    text-shadow: 4px 0 6px rgba(0,0,0,.6);
}

.hero-section h1 {
    margin-bottom: 1rem;
}
.hero-section h5 {
    margin-bottom: 2rem;
}

.bg-primary{
    background-color: #d81e3f;
}
.row-m-top{
    padding-top:30px;
}
.bg-secondary{
    background-color: #00264c;
}
.btn-outline-primary {
    color: #fff;
    background-color: transparent;
    background-image: none;
    border: 3px solid #fff;
    font-size: 2rem;
    padding: .6rem 2rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-outline-primary:hover {
    color:#FFFFFF;
    background-color: #00264c;
    border-color: #00264c;
}

.navbar-inverse .navbar-brand {
    color: #d81e3f;
    font-weight: bold;
    font-size:20px;
    padding: 5px;
}
.navbar-inverse .navbar-brand img {
    height: 40px;
    margin-left: 80px;
}

.navbar-inverse{
    background-color: #00264c;
    border-bottom: 3px solid #d81e3f;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    background-color:#d81e3f;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:active {
    background-color:#d81e3f !important;
}

.navbar-inverse .navbar-nav > li > a {
    color: #FFFFFF;
    font-weight: bold;
}

a {
    color: #d81e3f;
    text-decoration: none;
}
a:hover {
    color: #d81e3f;
    font-weight: bold;
}
.btn-principal{
    background-color: #d81e3f;
    border-color: #d81e3f;
}
.btn-principal:hover,
.btn-principal:active,
.btn-principal:focus{
    background-color: #d00d30 !important;
    border-color: #d00d30 !important;
}

.btn-secundario{
    background-color: #00264c;
    border-color: #00264c;
}
.btn-secundario:hover,
.btn-secundario:active,
.btn-secundario:focus{
    background-color: #00264cf0 !important;
    border-color: #00264cf0 !important;
}
.btn-secundario a{
    color: #FFFFFF;
}

.btn-secundario a:hover{
    text-decoration: none;
}

.btn-tercero{
    background-color: #4e4e4e;
    border-color: #4e4e4e;
}
.btn-tercero:hover,
.btn-tercero:active,
.btn-tercero:focus{
    background-color: #4e4e4ef0 !important;
    border-color: #4e4e4ef0 !important;
}
.btn-tercero a{
    color: #FFFFFF;
}

.btn-tercero a:hover{
    text-decoration: none;
}

.alert-success {
    color: #FFFFFF;
    background-color: #d81e3f;
    border-color: #d81e3f;
}

.alert-info {
    color: #FFFFFF;
    background-color: #00264c;
    border-color: #00264c;
}

.table > tbody > tr > td {
     vertical-align: middle;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #d81e3f;
    border-color: #d81e3f;
}

.pagination > li > a, .pagination > li > span {
    color: #00264c;
}

.navbar-header-admin{
    width: 225px;
    background-color:#00264c; 
}

.icon{
    height: 40px;
}

.div-btns-principal{
    margin-bottom: 20px;
}

.margin-top-sm{
    margin-top: 5px;
}

.logo-preview{
    height: 300px;
}

.label-principal{
    background-color: #00264c;
}

.content-register{
    background: url( '../img/events2.jpg') no-repeat center center fixed;
    background-size: cover; 
}
.join{
    margin-top: 20px;
}
.join-form{
    margin-top: 10px;
}
.overlay {
    color: #fff;
    padding: 2rem;
    background-color: rgba(0,0,0,.4);
}

.required{
    color:red;
}

.return{
    color:#FFFFFF;
    padding: 5px;
    border-radius: 5px;
    background-color: #d81e3f;
    margin-right: 5px;
}
.return:hover{
    color:#FFFFFF;
    text-decoration: none;
    font-weight: normal;
    background-color: #d81e3fc9;
}

.recommendation-quantity{
    margin-top: 10px;
    font-weight: bold;
    background-color:#d81e3f; 
    color:#FFFFFF;
    padding:5px;
    border-radius: 5px;
}
.recommendation-quantity:hover{
    cursor: pointer;
    color:#FFFFFF;
    background-color: #d81e3fc9;
    text-decoration: none;
}

.alert-grey{
    background-color: #4e4e4e;
    border-color: #4e4e4e;
    color: #FFFFFF;
}

.alert-fixed{
    z-index:999999;
    bottom: 10px;
    right:25px;
    position: fixed;
}

.button-map{
    margin-top:23px;
}
.restriction h4{
    margin-bottom: 30px;
    font-weight: bold;
}

.btn-cancelar{
    background-color: #FFFFFF !important;
    color:#d00d30 !important;
}

.carousel-caption {
    top: 40%;
    bottom: auto;
}

.img-partner{
    margin-top: 100px;
    width: 100%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin: 25px;
    text-align: center;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,1);
}
.card a:hover {
    font-weight: normal;
}

.card img {
    border-radius: 5px 5px 0 0;
    width: 100% !important;
    height: 300px;
}

.card .card-container {
    padding: 2px 16px;
    width: 100%;
    background-color: #d81e3f;
    color:#FFFFFF;
    border-radius: 0 0 5px 5px;
}
.cartelera{
    margin-top: 20px;
}

.invitar{
    color:#FFFFFF;
    padding: 50px;
}

.carousel-control.left:not(#home .carousel-control.left){
    background: none;
    top: 20%;
    left: -150px;
    text-shadow: none;
    color:#d81e3f;
    opacity: 1;
}
.carousel-control.left span:not(#home .carousel-control.left span){
    font-size: 40px;
}
.carousel-control.right:not(#home .carousel-control.left){
    background: none;
    top: 20%;
    right: -150px;
    text-shadow: none;
    color:#d81e3f;
    opacity: 1;
}

.carousel-control.right span:not(#home .carousel-control.left span){
    font-size: 40px;
}

.carousel-indicators .active {
    width: 20px;
    height: 20px;
}
.carousel-indicators li {
    width: 15px;
    height: 15px;
}

.nav-align-center {
  text-align: center;
}
.nav-align-center .nav-pills {
  display: inline-block;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #00264c;
    font-weight: bold;
}

.nav-pills>li>a {
    border-radius: 4px;
    color: #00264c;
     font-weight: bold;
}

.section-principal{
    margin-top: 100px;
}

.header-partner-event{
    position: relative;
    width: 100%;
}

.header-partner-event img{
    width: 100%;
    height: auto;
}

.header-partner-event .btn-partner-event{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.title-row{
    margin-left: 15px;
}

.btn-detail{
    width: 100%;
    margin-top:20px;
}

.card .benefit-brand-logo{
    position: absolute;
    height: 40px;
    width: 40px !important;
    top: 15%;
    left:15%;
}

.profile-section{
    margin-top: 120px;
    margin-bottom: 20px;
    padding: 20px;
}

.profile-section img{
    height: 200px;
}

.loader {
    position: absolute;
    left: 3%;
    border: 10px solid #FFFFFF;
    border-radius: 50%;
    border-top: 10px solid #d81e3f;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    z-index: 999999;
    top: 15%;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.custom-file-upload {
    cursor: pointer;
}

.billboard{
  width: 200px;
  height: 200px;
  max-height: 200px;
  max-height: 200px;
}